[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pandas = "*"
"jinja2" = "*"
pythainlp = "*"
attacut = "*"
deepcut = "*"

[dev-packages]
mypy = "*"
pytest = "*"
black = "==19.10b0"

[requires]
python_version = "3.7"
