<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        #dashboard {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 25% 25% 25% 25%;
        }

        #daily_message {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 5;
        }

        #top_account {
            grid-column-start: 2;
            grid-row-start: 1;
        }

        #top_engagement {
            grid-column-start: 2;
            grid-row-start: 2;
        }

        #word_cloud {
            grid-column-start: 2;
            grid-row-start: 3;
        }

        #hashtag_cloud {
            grid-column-start: 2;
            grid-row-start: 4;
        }
    </style>
</head>

<body>
    <h1 class="text-5xl text-center">dWise Dash board</h1>>
    <div id="dashboard">
        <div id="daily_message" class="bg-white border rounded shadow p-12 m-12"></div>
        <div id="top_account" class="bg-white border rounded shadow p-12 m-12">
            <div class="border-b p-3">
                <h5 class="uppercase text-grey-dark">Top account</h5>
            </div>
            <table class="table-auto">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Twitter</th>
                        <th class="px-4 py-2">Facebook</th>
                        <th class="px-4 py-2">Pantip</th>
                        <th class="px-4 py-2">Youtube</th>
                        <th class="px-4 py-2">Website</th>
                        <th class="px-4 py-2">Instagram</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in top_ten_accounts %}
                    <tr>
                        <td class="border px-4 py-2">{{ account[0] }}</td>
                        <td class="border px-4 py-2">{{ account[1] }}</td>
                        <td class="border px-4 py-2">{{ account[2] }}</td>
                        <td class="border px-4 py-2">{{ account[3] }}</td>
                        <td class="border px-4 py-2">{{ account[4] }}</td>
                        <td class="border px-4 py-2">{{ account[5] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="top_engagement" class="bg-white border rounded shadow p-12 m-12">
            <div class="border-b p-3">
                <h5 class="uppercase text-grey-dark">Top engagement</h5>
            </div>
            <table class="table-auto w-full p-5 text-grey-darker">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Message</th>
                        <th class="px-4 py-2">Engagement</th>
                    </tr>
                </thead>
                <tbody>
                    {% for messages in top_ten_engagements %}
                    <tr>
                        <td class="border px-4 py-2">{{ messages[0] }}</td>
                        <td class="border px-4 py-2">{{ messages[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <figure class="highcharts-figure">
            <div id="word_cloud" class="bg-white border rounded shadow p-12 m-12"></div>
        </figure>
        <figure class="highcharts-figure">
            <div id="hashtag_cloud" class="bg-white border rounded shadow p-12 m-12"></div>
        </figure>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var myChart = Highcharts.chart('daily_message', {
                credits: {
                    enabled: false
                },
                chart: {
                    type: 'bar',
                },
                title: {
                    text: 'DAILY MESSAGES',
                    align: 'left'
                },
                xAxis: {
                    categories: {{ days | safe }}
                },
            series: [{
                name: 'Number of massages',
                data: {{ number_of_messages | safe }}
                }]
            });
        });
    </script>
    <script>
        Highcharts.chart('word_cloud', {
            accessibility: {
                screenReaderSection: {
                    beforeChartFormat: '<h5>{chartTitle}</h5>' +
                        '<div>{chartSubtitle}</div>' +
                        '<div>{chartLongdesc}</div>' +
                        '<div>{viewTableButton}</div>'
                }
            },
            series: [{
                type: 'wordcloud',
                data: {{ word_cloud | safe }},
                name: 'Occurrences'
            }],
            title: {
                text: 'WORD CLOUD',
                align: 'left'
            }
        });
    </script>
    <script>
        Highcharts.chart('hashtag_cloud', {
            accessibility: {
                screenReaderSection: {
                    beforeChartFormat: '<h5>{chartTitle}</h5>' +
                        '<div>{chartSubtitle}</div>' +
                        '<div>{chartLongdesc}</div>' +
                        '<div>{viewTableButton}</div>'
                }
            },
            series: [{
                type: 'wordcloud',
                data: {{ hashtag_cloud | safe }},
                name: 'Occurrences'
            }],
            title: {
                text: 'HASHTAG CLOUD',
                align: 'left'
            }
        });
    </script>
</body>

</html>